@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,700;1,400&family=Roboto:wght@700&family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.navbar {
    background: #2d3436;
}

.upperNav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
    background: #F4FCFF;
}

.listItems {
    color: #fff;
}

.listItems:hover {
    color: #fff;
}

.headerImage1 {
    width: 50px;

}

.headerImage2 {
    width: 300px;
}

.headerImage3 {
    width: 100px;
}

.landingBanner {
    height: 100vh;
    background-position: center;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.box {
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;
    height: 200px;
    background: #ced6e0;
    flex-direction: column;
    width: 70%;
    margin: 2rem 0;
    box-shadow: 0px 2px 8px rgba(26, 24, 30, 0.06);
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.head {
    background: #1dd1a1;
    width: 100%;
    padding: 1rem;
    text-align: center;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}

.textPara {
    font-size: 1.5rem;
    margin-top: 3rem;
}

.navItem {
    gap: 4rem;
}

.aboutSection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
    background-color: #a29bfe;
}

.parentForm {
    border: 1px solid #000;
    padding: 2rem;
    margin: 2rem 0;
}

.formSection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1700px;

}

.aboutHead {
    text-align: center;
    color: #fff;
    font-size: 4rem;
    font-weight: 600;
}

.aboutPara {
    width: 70%;
    margin: auto;
    font-size: 1.2rem;
    padding: 1.5rem 0;
}

.aboutUl {
    width: 70%;
    margin: auto;
    padding-left: 0rem;
}

.aboutUl li {
    font-size: 1.2rem;
    padding: 1rem 0;
}

.formBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background: #2d3436;

}

.footerItems {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.mapButtons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.5rem;
    background: #2e86de;
}

.mapData {
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background: #1dd1a1;
    color: #576574;
}

.formSubmit {
    border: 1px solid #000;
    padding: 0.5rem 1.5rem;
    margin-bottom: 1rem;
    background: #a29bfe;
}

@media (max-width: 767px) {
    .landingBanner {
        height: 30vh;
    }

    .footer {
        height: auto;
    }

    .mapButtons,
    .footerItems {
        flex-direction: column;
    }

    .mapButtons {
        width: 100%;
    }

    .footerItems {
        gap: 1rem;
        padding: 1rem 0;
    }

    .mapData {
        width: 100%;
        margin: 1rem 0;
    }

    .box {
        width: 90%;
    }

    .headerImage1 {
        width: 50px;

    }

    .headerImage2 {
        width: 150px;
    }

    .headerImage3 {
        width: 100px;
    }

    .upperNav {
        justify-content: space-between;
    }

    .navItem {
        gap: 1rem;
    }

    .aboutSection,
    .formSection {
        height: auto;
    }

    .aboutHead {
        padding-top: 1rem;
    }

    .aboutPara,
    .aboutUl {
        width: 90%;
    }

    .formBox {
        flex-direction: column;
        align-items: flex-start;
    }

    .formHead {
        padding-top: 2rem;
    }

}